.node {
    display: inline-block;
    width: 25px;
    overflow-x: hidden;
    height: auto;
}

.empty {

    background-color: gray;
}

.length {
    outline: solid pink;
    background-color: black;
    color: pink;
}

.leaf {
    outline: solid black
}

.merkle {
    background-color: lime;
    outline: solid red;
}

.branch {
    outline: solid blue;
    background-color: rgb(0, 168, 154);
}

.root {
    outline: solid rgb(0, 0, 0);
    background-color: gold;
}

.red {
    background-color: hotpink;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.limit {
    background-color: red
}