.node {
    display: inline-block;
    width: 25px;
    overflow-x: hidden;
    height: auto;
}

.empty {

    background-color: gray;
}

.full {
    background-color: chartreuse;
}

.leaf {
    outline: solid black
}

.root {
    outline: solid red
}