.bitmask {
  color: black;
}

.hex {
  color: green;
}

.padding {
  color: red;
}

.bytes32 {
  border: solid green;
  display: inline-block;
  height: auto;
  width: 40%;
  padding-right: 0px;
  
  
}

.hash {
  animation-name: loader 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border: solid black;
  background-color: gold;
  display: inline-block;
  height: auto;
  width: 40%;
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }

}

.valueChunk0 {
  color: green;
}

.valueChunk1 {
  color: blue;
}

.delimeter {
  color: Gold;
  background-color: black;
}

.empties {
    color: purple;
    background-color: lightgray;
}
